
.navbar-brand {
	color: orange;
}
.nav-name{
	color: orange;
}
.icon-bar{
	background-color: orange;
	color: white;
}
.toolbar{
	color: orange;
}
.login{
	color: orange;
}
.signup {
	color: orange;
}
.control-label {
	color: orange;
}
.navbar{
	color: orange;
}
.btn{
	color: orange;
}
.btn-default{
	color: orange;
}
.modal-header{
	background-color: orange;
}
.modal-title{
	color: white;
}
#bs-example-navbar-collapse-1{
	background-color: orange;
}
.navbar-toggle{
	background-color: white;
}
.nav {
 background-color: white;
}
